*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}


html,
body{
  width:100%;
  min-height:100%;
  background:#050505;
  color:#fff;
  font-family:Arial, Helvetica, sans-serif;
}



.home{

  min-height:100vh;

  background:
  radial-gradient(
    circle at top,
    #6b4700 0%,
    #241500 35%,
    #050505 75%
  );

  overflow:hidden;

}



.hero{

  min-height:100vh;

  display:flex;

  flex-direction:column;

  justify-content:center;

  align-items:center;

  text-align:center;

  padding:50px 20px;

}



.logo{

  width:230px;

  height:230px;

  object-fit:contain;

  filter:
  drop-shadow(0 0 45px rgba(212,175,55,.8));

  margin-bottom:20px;

}



.hero h1{

  font-size:clamp(42px,8vw,90px);

  font-weight:900;

  letter-spacing:12px;


  background:
  linear-gradient(
    180deg,
    #fff3a6,
    #d4af37,
    #8a6500
  );


  background-clip:text;

  -webkit-background-clip:text;


  color:transparent;

  -webkit-text-fill-color:transparent;


  text-shadow:
  0 0 30px rgba(212,175,55,.5);

}



.hero h2{

  margin-top:35px;

  font-size:clamp(22px,4vw,40px);

  font-weight:900;

  color:white;

  text-shadow:
  0 0 20px #d4af37;

}



.hero p{

  margin-top:25px;

  max-width:750px;

  font-size:20px;

  line-height:1.7;

  color:#ddd;

}



.hero button{

  margin-top:40px;

  padding:20px 80px;

  border-radius:22px;

  border:none;

  cursor:pointer;


  font-size:16px;

  font-weight:900;

  letter-spacing:5px;


  color:#000;


  background:
  linear-gradient(
    135deg,
    #fff1a8,
    #d4af37,
    #8a6500
  );


  box-shadow:
  0 0 40px rgba(212,175,55,.8);

}



.stats{

  margin-top:70px;

  display:flex;

  gap:25px;

  justify-content:center;

  flex-wrap:wrap;

}



.stat-box{

  width:160px;

  padding:35px 20px;

  border-radius:25px;


  border:
  1px solid rgba(212,175,55,.6);


  background:
  rgba(255,255,255,.06);


  backdrop-filter:blur(10px);

}



.stat-box strong{

  display:block;

  font-size:32px;

  font-weight:900;

  color:#d4af37;

}



.stat-box span{

  display:block;

  margin-top:10px;

  font-size:14px;

  color:white;

}




@media(max-width:768px){


.hero{

  padding:40px 15px;

}



.logo{

  width:160px;

  height:160px;

}



.hero h1{

  font-size:40px;

  letter-spacing:5px;

}



.hero h2{

  font-size:24px;

}



.hero p{

  font-size:16px;

}



.hero button{

  width:90%;

}



.stats{

  gap:15px;

}



.stat-box{

  width:140px;

  padding:25px 10px;

}


}