@import "tailwindcss";


:root {

  --gold:#d4af37;
  --gold-light:#fff1a8;
  --black:#050505;
  --dark:#0b0b0b;

}


*{

  margin:0;
  padding:0;
  box-sizing:border-box;

}



html{

  scroll-behavior:smooth;

}



body{

  min-height:100vh;

  background:#050505;

  color:white;

  font-family:

  Arial,
  Helvetica,
  sans-serif;

  overflow-x:hidden;

}




/* Scrollbar Premium */

::-webkit-scrollbar{

  width:10px;

}


::-webkit-scrollbar-track{

  background:#050505;

}


::-webkit-scrollbar-thumb{

  background:

  linear-gradient(
  #fff1a8,
  #d4af37,
  #8a6500
  );

  border-radius:20px;

}





/* Linkler */

a{

  text-decoration:none;

}





/* Buton genel */

button{

  font-family:inherit;

}





/* Premium Glow */

.gold-glow{

box-shadow:

0 0 20px rgba(212,175,55,.4),
0 0 60px rgba(212,175,55,.2);

}




/* Navbar Mobil */

.desktop-menu{

display:flex;

}



.mobile-menu-btn{

display:none;

}






@media(max-width:768px){



.desktop-menu{

display:none !important;

}



.mobile-menu-btn{

display:block !important;

}




}



/* Mobil düzen */

@media(max-width:768px){



h1{

font-size:40px !important;

}



h2{

font-size:24px !important;

}



p{

font-size:15px;

}



}





/* Kart Hover Efekti */


.premium-card{


transition:.4s ease;


}



.premium-card:hover{


transform:translateY(-8px);


border-color:#d4af37;


box-shadow:

0 0 35px rgba(212,175,55,.35);


}





/* Altın yazı */

.gold-text{


background:

linear-gradient(
180deg,
#fff1a8,
#d4af37,
#8a6500
);


-webkit-background-clip:text;

-webkit-text-fill-color:transparent;


}





/* Premium buton */


.gold-button{


background:

linear-gradient(
135deg,
#fff1a8,
#d4af37,
#8a6500
);


color:black;


font-weight:900;


border-radius:20px;


transition:.3s;


box-shadow:

0 0 30px rgba(212,175,55,.5);



}



.gold-button:hover{


transform:scale(1.05);


box-shadow:

0 0 60px rgba(212,175,55,.8);



}





/* Video popup */


video{

max-width:100%;

}




/* Formlar */


input{


background:

rgba(255,255,255,.06);


border:

1px solid rgba(212,175,55,.3);


color:white;


outline:none;


transition:.3s;



}



input:focus{


border-color:#d4af37;


box-shadow:

0 0 20px rgba(212,175,55,.3);


}




/* Selection */


::selection{


background:#d4af37;

color:black;


}